details{
  width: fit-content;
}

details > summary,
details[open] > summary {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0;
  margin-top: 2rem;
}

/* Handled Plus and Minus on Expand */
.expandButton {
  position: relative;
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #CBD1D4;
  border-radius: 50%;
  cursor: pointer;
}

.expandButton.hide-button .vertical-line,
.expandButton.hide-button .horizontal-line {
  /* for hideButton will hide vertical and horizontal line */
  background: transparent;
}
.expandButton.hide-button {
  border-style: none;
  cursor: default;
  width: 2.2rem;
}

.hide-button::after {
  position: absolute;
  content: "";
  width: 0.1rem;
  border-left: 0.2rem dashed #CBD1D4;
  height: 2rem;
  left: 0.9rem;
}
.hide-button::before {
  position: absolute;
  content: "";
  height: 0.1rem;
  border-top: 0.2rem dashed #CBD1D4;
  width: 2.4rem;
  left: 1.2rem;
}

.vertical-line {
  position: absolute;
  height: 12px;
  width: 2px;
  transition: all 0.2s ease-in;
  background-color: #74838F;
}

.horizontal-line {
  position: relative;
  height: 2px;
  width: 12px;
  background-color: #74838F;
}

/* If any node is expanded will make horizontal line width 0 and rotate vertical line */
details[open] > summary .horizontal-line {
  width: 0;
}
details[open] > summary .vertical-line {
  rotate: 90deg;
}

/* Backgroung vertical dashed behinf expand icon */
summary::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 2.5rem;
  border-left: 0.2rem dashed #CBD1D4;
  top: 2.7rem;
  left: 0.9rem;
}

details[open] > summary::after {
  content: "";
}

.child-details {
  position: relative;
  padding-left: 2.6rem;
  margin-left: 0.9rem;
  border-left: 0.2rem dashed #CBD1D4;
}

.child-details::after {
  position: absolute;
  content: "";
  width: 0.1rem;
  border-left: 0.2rem dashed #CBD1D4;
  height: 2rem;
  left: -0.2rem;
  bottom: -2.3rem;
}

/* These will disable Outer dashed line */
.form-container > details > .child-details::after,
div.form-container > details > summary::after, 
.has-child:last-of-type > summary::after,
.has-child:last-of-type > .child-details::after
{
  content: none;
}

/*This will remove dashed-style border of child-details */
.form-container > details > .child-details,
.has-child:last-of-type > .child-details {
  border-color: transparent;
}
