/* Hiding the default checkmark */
.checkbox-container input {
  display: none;
}

.checkbox-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

/* Custom Checkbox style as per design */
.checkmark {
  position: relative;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 4px;
  border: 0.1rem solid aliceblue;
  margin: 0 1.5rem;
  cursor: pointer;
}

.checkmark::after {
  content: "";
  /* Create the checkmark/indicator (hidden when not checked) */
  display: none;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 4px;
  top: 3px;
  background-color: #41c3b6;
  border-radius: 50%;
  transition: 0.15s;
}

/* Show the checkmark when checked */
.checkbox-container input:checked + .checkmark::after {
  display: block;
}

.checkbox-container::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  border-left: 0.1rem dashed aliceblue;
  height: 100%;
  top: 2.4rem;
  left: 2.5rem;
}

.label-name{
  user-select: none;
  cursor: pointer;
}

.child-details > details:last-of-type > summary > .hide-button::after {
  height: 50%;
  top: 0;
}

/* If details is not open will not show dashed line below parent node */
details:not([open]) > summary > .checkbox-container::after {
  content: none;
}

/* disable vertical dashed line for the leaf-node  */
.leaf-node .checkbox-container::after,
.leaf-node:last-of-type > summary::after
 {
  content: none;
}